---
import "../styles/global.css";
import { getRelativeLocaleUrl } from 'astro:i18n';
import Link from "./Link.astro";
import { TELEPHONE_NUMBER, EMAIL_ADDRESS } from "../consts";

const aboutURL=getRelativeLocaleUrl("it", "about");
const brandingURL=getRelativeLocaleUrl("it", "branding");
const educationURL=getRelativeLocaleUrl("it", "education");
const homeURL=getRelativeLocaleUrl("it", "it");
const nothingURL=getRelativeLocaleUrl("it","404");
---

<nav id="navigo" class="box" role="navigation" aria-label="menu">

	<div id="menuToggle">

		<input type="checkbox" />

		<span></span>
		<span></span>
		<span></span>

		<ul id="menu" class="box stack">

			<li>
				<Link href={homeURL}>SERVIZI IT</Link>
			</li>
	
			<li>
				<Link href={brandingURL}>WEB & BRANDING</Link>
			</li>
	
			<li>
				<Link href={educationURL}>EDUCAZIONE</Link>
			</li>
	
			<li>
				<Link href={aboutURL}>CHI SIAMO</Link>
			</li>
	
			<li class="no-before">
				<Link class="contact-link with-icon" href={TELEPHONE_NUMBER}>
					<span class="icon-span icon">&#9743;</span>
					TEL
				</Link>
			</li>

			<li class="no-before">
				<Link class="contact-link with-icon" href={EMAIL_ADDRESS}>
					<span class="icon-span icon">&#9993;</span>
					EMAIL
				</Link>
			</li>

			<li>
				<Link id="menu-back-to-top" href="#skip-content">&#8593;&#8593;&#8593;</Link>
			</li>

			<li id="nothing"  style="visibility: hidden;">
				<Link class="glitch" href={nothingURL} data-text="&#8713;">&#8713;</Link>
			</li>
	
			<li class="no-before">
				<h5>Menu</h5>
			</li>
		</ul>
	</div>
</nav>