---
import "../styles/global.css";
import { SITE_TITLE } from "../consts";
---

<main class="box fluid-container stack-xx-large">

	<section class="stack-large">
		<h2>?</h2>
		<dfn>À PROPOS</dfn>
		<ul class="box stack-small">
			<li>
				<strong>INFO<span class="separator-span"> =</span></strong>
				<span class="color-accent">Info</span>rmatique
			</li>
			<li>
				<strong>GRAPHI<span class="separator-span"> = </span></strong>
				Design <span class="color-accent">Graphi</span>que
			</li>
			<li>
				<strong>PHI<span class="separator-span"> =</span></strong>
				<span class="color-accent"><a href="https://en.wikipedia.org/wiki/Golden_ratio">Phi</a></span>
			</li>
		</ul>
		<p>Chez {SITE_TITLE}, nous offrons des solutions complètes dans les domaines de l'informatique, du Web Design et
			du Branding. Nos services sont conçus pour répondre aux exigences des particuliers, freelances et petites
			entreprises. Nous valorisons l'efficacité, la fiabilité et l'expertise, nous positionnant ainsi comme votre
			partenaire de confiance dans le monde technologique. Notre savoir-faire nous permet de relever divers défis
			techniques, assurant des opérations informatiques fluides pour nos clients. Notre objectif est d'atteindre
			votre satisfaction à long terme en incarnant l'excellence dans chaque projet que nous entreprenons.
	</section>

	<section class="stack-large">
		<h3>Notre Mission</h3>
		<p>Notre mission est de vous doter des dernières technologies et/ou d'un identité visuelle mémorables et
			captivants, simplifiant ainsi votre parcours numérique. Nous nous engageons à rester à l'avant-garde des
			évolutions technologiques, en mettant constamment à jour nos compétences et en adoptant une pensée
			innovante. Nous sommes dédiés à votre succès, et notre engagement à concrétiser votre vision est au cœur de
			notre mission.</p>
	</section>

	<section class="stack-large">
		<h3>Nos Valeurs</h3>
		<p>Chez {SITE_TITLE}, nos valeurs constituent les principes directeurs qui définissent notre identité et notre
			manière de travailler. Nous croyons fermement en :</p>
		<ul class="box stack">
			<li><strong>L’Expertise :</strong> Notre équipe, composée de professionnels chevronnés, apporte une richesse
				d'expérience dans le domaine des technologies de l'information et du design graphique. Cette expertise
				nous permet de vous offrir des solutions sur mesure, parfaitement adaptées à vos besoins spécifiques.
			</li>
			<li><strong>la Compréhension :</strong> La force de l'écoute est au cœur de notre approche. Nous prenons le
				temps de cerner vos exigences, vos objectifs et les défis qui vous sont propres. Votre vision devient
				notre mission, et nous collaborons étroitement avec vous pour la transformer en réalité concrète.</li>
			<li><strong>La Satisfaction à Long Terme :</strong> Chez nous, votre satisfaction n'est pas simplement un
				objectif, mais un engagement profond. Nous visons à établir des relations durables avec nos clients,
				faisant de votre succès notre priorité absolue. Notre dévouement à votre satisfaction sur le long terme
				est sans faille.</li>
		</ul>
		<p>Ces valeurs nous guident dans toutes nos interactions et projets. Elles sont le socle sur lequel {SITE_TITLE}
			s'est construit et la raison fondamentale de la confiance que nos clients nous accordent.</p>
	</section>


	<section class="stack-large">
		<h3>Pourquoi Nous Choisir ?</h3>
		<p>Choisir le partenaire adéquat pour vos besoins en technologies de l'information et en design graphique est
			essentiel. En optant pour {SITE_TITLE}, vous faites un choix ancré dans la confiance, la fiabilité et un
			engagement profond envers l'excellence.</p>
		<p>Voici les raisons de choisir notre équipe :</p>
		<ul class="box stack">
			<li><strong>Fiabilité :</strong> Nous accordons une grande importance à la tenue de nos promesses. Notre
				équipe est déterminée à respecter scrupuleusement les délais et à surpasser vos attentes. Vous pouvez
				vous fier à nous pour être présents dans les moments cruciaux.</li>
			<li><strong>Créativité :</strong> Chaque projet que nous entreprenons est imprégné de créativité, que ce
				soit pour développer un site web spectaculaire, forger une identité de marque inoubliable, ou relever
				des défis informatiques complexes. Nous garantissons que votre marque brillera dans un univers numérique
				saturé.</li>
			<li><strong>Efficacité :</strong> L'efficacité est la pierre angulaire de notre approche. Nous optimisons
				les opérations informatiques pour booster les performances et réduire au minimum les perturbations.
				Notre but est de faire en sorte que la technologie vous soit bénéfique.</li>
			<li><strong>Expertise :</strong> Le monde des technologies de l'information et du design graphique peut
				sembler intimidant, mais notre équipe d'experts est là pour vous guider. Nous rendons la technologie
				accessible et facile à comprendre, vous aidant à prendre des décisions avisées pour garantir votre
				succès.</li>
		</ul>
	</section>


	<section class="stack-large">
		<h3>Notre Engagement</h3>
		<p>Notre engagement envers vous se manifeste bien au-delà des paroles ; il est concrétisé par nos actions. Nous
			œuvrons inlassablement pour assurer votre satisfaction et votre réussite. En vous associant avec
			{SITE_TITLE}, vous optez pour une équipe entièrement dévouée à la concrétisation de votre vision.</p>
		<p>Nous tirons une grande fierté de notre travail, et votre satisfaction complète est notre ultime objectif.
			Notre engagement en faveur de l'excellence nous pousse à aller au-delà des normes habituelles, en vous
			proposant des solutions qui surpassent vos attentes.</p>
	</section>


	<section class="stack-large">
		<h3>Contactez-Nous</h3>
		<p>Si vous avez des questions ou souhaitez discuter de votre projet, n'hésitez pas à <a href="/contact"
				class="color-accent">nous contacter</a>. Nous sommes ici pour fournir les solutions dont vous avez
			besoin pour prospérer dans le
			monde numérique. Votre succès est notre succès, et nous sommes impatients d'être votre partenaire de
			confiance.</p>
	</section>
</main>