---
import '../styles/global.css';
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Footer from "../components/Footer.astro"
import FormattedDate from '../components/FormattedDate.astro';
import Frame from '../components/Frame.astro';
import Header from "../components/Header.astro"
import SkipContent from "../components/SkipContent.astro";
import Sidebar from '../components/Sidebar.astro';
import Switcher from '../components/Switcher.astro';

const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<body>
	<SkipContent />
	<Header title={SITE_TITLE} />
	<main id="content">
		<section class="box border-style-hidden">
			<ul class="stack-xxx-large">
				{
				posts.map((post) => (
				<li>
					<a href={`/blog/${post.slug}/`}>
						<Sidebar>
							<Frame class="box frame11">
								<img src={post.data.heroImage} alt="" />
							</Frame>
							<Switcher>
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</Switcher>
						</Sidebar>
					</a>
				</li>
				))
				}
			</ul>
		</section>
	</main>
	<Footer />
</body>
