---
import "../styles/global.css";
import { getRelativeLocaleUrl } from "astro:i18n";
import HeaderLink from "../components/Link.astro";
import type { HTMLAttributes } from "astro/types";
import { SITE_DESCRIPTION } from "../consts";

const itURL = getRelativeLocaleUrl("en", "it");
const itURLFR = getRelativeLocaleUrl("fr", "it");
const itURLIT = getRelativeLocaleUrl("it", "it");

interface CoverProps extends HTMLAttributes<"div"> {
    borderColor?: string;
    borderStyle?: string;
    borderWidth?: string;
    boxPadding?: string;
    classes?: string;
    outlineColor?: string;
    outlineOffset?: string;
    outlineWidth?: string;
    textColor?: string;
    thumbColor?: string;
    trackColor?: string;
}
const {
    borderColor,
    borderStyle,
    borderWidth,
    boxPadding,
    classes,
    outlineColor,
    outlineOffset,
    outlineWidth,
    textColor,
    thumbColor,
    trackColor,
    ...rest
} = Astro.props as CoverProps;
---

<the-cover class="" {classes} {...rest}>

    <main class="box">

        <section class="stack box">

            <span class="color-void">#</span>

            <h3 class="center">

                <span class="sentence cluster title">

                    <span class="diese">#</span>
                    <span>I</span>
                    <span>N</span>
                    <span>F</span>
                    <span>O</span>
                    <span>G</span>
                    <span>R</span>
                    <span>A</span>
                    <span>P</span>
                    <span>H</span>
                    <span>I</span>
                </span>

                <dfn class:list="color-medium">{SITE_DESCRIPTION}</dfn>
            </h3>
            
            <ul class="switcher">
                <li>
                    <HeaderLink class="cover-link english" href={itURL}>
                        <span>En</span>
                        <span>gli</span>
                        <span>sh</span>
                    </HeaderLink>
                </li>
                <li>
                    <HeaderLink class="cover-link italian" href={itURLIT}>
                        <span>Ita</span>
                        <span>lia</span>
                        <span>no</span>
                    </HeaderLink>
                </li>
                <li>
                    <HeaderLink class="cover-link french" href={itURLFR}>
                        <span>Fr</span>
                        <span>anç</span>
                        <span>ais</span>
                    </HeaderLink>
                </li>
            </ul>
        </section>
    </main>
    
    <slot />
    
</the-cover>

<style>
    body {
        background-color: var(--background-color);
        min-block-size: 100vh;
        min-inline-size: 100%;
        background-image: var(--background-image) !important;
        background-size: var(--background-size) !important;
        background: var(--background-color);
        color: var(--color);
    }

    the-cover {
        align-items: center;
        flex-grow: 1 !important;
        min-inline-size: 80% !important;
    }

    main {
        background-color: var(--color-dark-void);
    }

    .title {
        gap: var(--mesure-xxxx-small);
    }

    h3:before {
        content: "";
    }

    @media only screen and (max-width: 75ch) {
        h3 {
            font-size: var(--mesure-large) !important;
        }
    }

    .diese,
    .sentence {
        background-color: transparent;
        line-height: var(--mesure-xx-large) !important;
        text-align: center;

    }

    .diese {
        color: var(--accent-color-shade);
        flex-shrink: 1;
        gap: var(--mesure-xxxx-small);
    }

    ul {
        gap: var(--mesure-medium);
    }

    ul li:before,
    .cover-link:before {
        content: "";
    }

    .cover-link {
        border: var(--mesure-xx-small) dashed var(--color-dark-shade);
        border-radius: 1.5ch;
        display: flex !important;
        flex-wrap: nowrap;
        justify-content: center;
        padding: var(--mesure-medium);
        text-decoration: none;
    }

    .cover-link:hover,
    .cover-link:focus {
        border-color:var(--color-void) !important;
        font-weight: 700 !important;
        color: var(--color) !important;
        outline-width: var(--mesure-x-small) !important;
        outline-color: var(--accent-color) !important;
    }

    .cover-link span {
        font-size: var(--mesure-large);
    }

    .english span:first-child {
        color: red;
    }
    .english span:nth-child(2) {
        color: white;
    }
    .english span:nth-child(3) {
        color: blue;
    }
    .french span:first-child {
        color: blue;
    }
    .french span:nth-child(2) {
        color: white;
    }
    .french span:nth-child(3) {
        color: red;
    }
    .italian span:first-child {
        color: green;
    }
    .italian span:nth-child(2) {
        color: white;
    }
    .italian span:nth-child(3) {
        color: red;
    }
</style>